% Header
\begin{center}
{\fontsize{18}{22}\selectfont\bfseries\color{textprimary} <VAR>name</VAR>}

\vspace{0.15em}

{\fontsize{11}{13}\selectfont\color{textsecondary} <VAR>tagline</VAR>}

\vspace{0.3em}

% Contact (no ligatures for ATS)
{\fontsize{10}{12}\selectfont\color{textsecondary}\addfontfeatures{Ligatures=NoCommon}
\href{mailto:<VAR>email</VAR>}{\textcolor{textsecondary}{<VAR>email</VAR>}} {\color{divider}|} \href{tel:<VAR>phone</VAR>}{\textcolor{textsecondary}{<VAR>phone</VAR>}} {\color{divider}|} \href{<VAR>github</VAR>}{\textcolor{textsecondary}{github.com/pondiniii}} {\color{divider}|} \href{<VAR>blog</VAR>}{\textcolor{textsecondary}{sieciowiec.xyz}} {\color{divider}|} \textcolor{textsecondary}{<VAR>location</VAR>}
}
\end{center}

\vspace{0.7em}
